.btn_google {
    background-color: #B0CEBE;
    width: 332px;
    height: 38px;
    top: 14px;
    left: 1041px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;


}